#navbar {
  font-size: 50px;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #424874;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  color: #f4eeff;
}

#navbar-list {
  display: flex;
}

#navbar-list li {
  margin: 0px 20px;
}

#navbar a {
  text-decoration: none;
  color: #f4eeff;
}

#Home {
  font-size: 65px;
  position: relative;
}

#Home::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -6px;
  height: 3px;
  left: 0;
  background-color: #f4eeff;
  transform-origin: 100% 100%;
  transition: 0.7s;
  transform: scale(0);
}

#Home:hover::after {
  transform: scale(1);
}

#navbar li {
  position: relative;
}

#navbar li::after {
  position: absolute;
  content: "";
  bottom: -6px;
  height: 3px;
  left: 0;
  background-color: #f4eeff;
  width: 100%;
  transform-origin: 0% 100%;
  transition: 0.7s;
  transform: scaleX(0);
}

#navbar li:hover::after {
  transform: scaleX(1);
}

h1 {
  width: max-content;
  font-size: 90px;
  color: #424874;
  position: relative;
  margin: 80px auto;
}

h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  background-color: #424874;
  width: 100%;
  left: 0;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

h1:hover::after {
  transform: scaleX(1);
}

body {
  background-color: #dcd6f7;
}

.box {
  margin: 140px 20px;
}

.description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.description video {
  width: 550px;
  height: 400px;
}

.description .video {
  display: flex;
  justify-content: center;
}

.description li {
  text-align: justify;
  width: 650px;
  font-size: 40px;
  border: 3px solid #a6b1e1;
  background-color: #424874;
  color: #f4eeff;
  padding: 0px 25px;
  margin: 50px 0px;
  line-height: 1.1;
}

.description h2 {
  font-style: italic;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

h2,
.video {
  padding: 80px;
}
